
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>OAuth2 客户端示例</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-5">
	<div class="jumbotron">
		<h1 class="display-4">OAuth2 客户端示例</h1>
		<p class="lead">这是一个演示OAuth2客户端登录和访问资源的示例应用程序。</p>
		<hr class="my-4"/>
		<p>点击下面的按钮使用OAuth2登录并访问受保护的资源。</p>
		<a class="btn btn-primary btn-lg" href="/client/login" role="button">登录</a>
	</div>
</div>
</body>
</html>